.home-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: orange;
}
.wc-container, .id-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
}